.salad {
    position: relative;
    // min-height: 100vh;
    // max-height: 100vh;
    // height: 100%;
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "ingredients"
        "ingredients"
        "title";
    overflow: hidden;
        
    &__title {
        // justify-self: end;
        // padding-top: 36rem;
        // grid-area: title;
        // align-self: end;
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__ingredients {
        // grid-area: ingredients;
        // align-self: center;

        display: block;
        width: 90%;

        @include breakpoint($laptop) {
            width: 88%;
        }

        #avocado, #cucumber, #spinach, #carrot, #arugula, #onion, #asparagus {
            visibility: hidden;
        }
    }
}
